* {
    margin: 0;
    padding: 0;
}
#abody {
    width: 1500px;
    margin: 0 auto;
}


#header {
    width: 1500px;
    height: 210px;
}
#set {
    width: 255px;
    height: 30px;
    text-align : right;
    float: right;
}
#set li {
    width: 85px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
}
#log {
    font-family: Arial, Helvetica, sans-serif;
    width: 75px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}
#my_page { 
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}
#setting {
    font-family: Arial, Helvetica, sans-serif;
    width: 85px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}
#logo {
    width: 1500px;
    height: 100px;
    float: left;
    margin: 20px 0 20px 0;
}
#logo > div {
    width: 200px;
    height: 100px;
    margin: 0 auto;
}


#body {
    width: 1500px;
    float: left;
    position: relative;
}
#main_Join {
    width: 1500px;
    float: left;
    height: 900px;
}
fieldset {
    width: 1200px;
    height: 815px;
    margin: 30px auto;
    border: 2px black double;
}
legend {
    font-size: 24pt;
    margin: 0 30px;
}
#join_table {
    width: 1000px;
    margin: 40px auto;
    font-family: Arial, Helvetica, sans-serif;
}
.table_left {
    width: 200px;
    height: 50px;
    text-align: right;
    font-size: 14pt;
}
.table_right {
    font-size: 14pt;
}
#chk {
    width: 90px;
    height: 30px;
    background-color: rosybrown;
    color: black;
    border: none;
    border-radius: 10px 10px;
}
#chk:active {
    color: rgb(78, 54, 54);
    background-color: rgb(139, 106, 106);
}
input {
    width: 500px;
    height: 30px;
    text-align: center;
    font-size: 14pt;
    color: rosybrown;
    border-radius: 10px 10px;
    border: lightgray 2px solid;
}
select {
    width: 200px;
    height: 30px;
    font-size: 13pt;
    color: rosybrown;
    border-radius: 10px 10px;
    border: 2px solid lightgray;
}
.point {
    color: red;
}
#essential {
    width: 1040px;
    height: 250px;
    margin: 0 auto;
    overflow: scroll;
    background-color: rosybrown;
    border: solid rosybrown 8px;
}
#sub_essential_box {
    width: 1000px;
    margin: 8px auto;
    background-color: white;
}
#hr {
    height: 1px;
    margin: 10px auto;
    width: 900px;
}
#sub_essential_box > h3 {
    width: 400px;
    height: 40px;
    line-height: 50px;
    margin: 0 0 0 30px;
}
#sub_essential_box > p {
    width: 980px;
    margin: 0 auto;
}
p {
    font-size: 13pt;
}
#small {
    font-size: 11pt;
}
#iiyy {
    width: 380px;
    height: 40px;
    margin: 10px auto;
    line-height: 30px;
}
#p {
    width: 300px;
    position: relative;
    bottom: 5px;
}
#chkk {
    width: 20px;
    height: 20px;
    margin: 10px 10px;
}
#buttons {
    width: 240px;
    height: 40px;
    margin: 30px auto;
}
#buttons button {
    width: 90px;
    height: 40px;
    margin: 0 15px;
    float: left;
    border-radius: 10px 10px;
    border: none;
    background-color: rosybrown;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    
}
button:active {
    color: white;  
    background-color: rgb(78, 54, 54);
}
button {
    cursor: pointer;
}
#show_tab {
    display: none;
}


#footer {
    float: left;
    width: 1500px;
    height: 100px;
}
#insta {
    margin: 0;
    width: 100px;
    height: 100px;
}
#instaimga {
    width: 80px;
    height: 50px;
    float: left;
}
#insta img {
    margin: 10px 10px;
}
#discord {
    margin: 0;
    width : 100px;
    height: 100px;
}
#discord img {
    margin: 10px 10px;
}
.footerText {
    font-family: Arial, Helvetica, sans-serif;
    width: 650px;
    height: 100px;
    font-size: 14px;
    line-height: 20px;
}
#footerText p {
    position: relative;
    left: 30px;
}


hr {
    background-color: black;
    height: 3px;
    border-style: none;
    float: none;
    line-height: 300px;
}
a {
    text-decoration: none;
    color: black;
}
.relative {
    position: relative;
}
.left {
    float: left;
}
li {
    list-style-type: none;
}